pre {

	/*font-size: 25px;*/
}

ul,li {
	white-space: nowrap;
	margin-top: 0;
	list-style: none;
}

li#child::before {
	content: "\2022";
	color: black;
	display: inline-block;
	margin-right: 10px;
	transform: scale(1.3);
}

li#child.red_label::before {
	color: red;
}

li#parent {
 	margin-bottom: 16px;
}

li#parent:before {
	content: "\25AA";
	color: black;
	display: inline-block;
	margin-right: 5px;
	transform: scale(1.6);
}

li#parent.red_label::before {
	color: red;
}

button.red_label{
	background:lightcoral;
}

.hide {
	display: none;
}

.style_button {
	cursor:pointer;
	border: none;
	background: none;
	background: lightgreen;
	margin: 5px;
	white-space: pre;
	padding: 4px;
	border-radius: 3px;
}

.label{
	background: gainsboro;
	padding-left: 1px;
	border-radius: 3px;
	padding-right: 4px;
	margin-right: 5px;
	padding: 3px;
}